# Compiled class file
fuelRoute/*.class

# Log file
fuelRoute/*.log

# BlueJ files
fuelRoute/*.ctxt

# Mobile Tools for Java (J2ME)
fuelRoute/.mtj.tmp/

# Package Files #
fuelRoute/*.jar
fuelRoute/*.war
fuelRoute/*.nar
fuelRoute/*.ear
fuelRoute/*.zip
fuelRoute/*.tar.gz
fuelRoute/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
fuelRoute/hs_err_pid*
fuelRoute/replay_pid*

fuelRoute/HELP.md
fuelRoute/target/
fuelRoute/!.mvn/wrapper/maven-wrapper.jar
fuelRoute/!**/src/main/**/target/
fuelRoute/!**/src/test/**/target/

### STS ###
/fuelRoute/.apt_generated
/fuelRoute/.classpath
/fuelRoute/.factorypath
/fuelRoute/.project
/fuelRoute/.settings
/fuelRoute/.springBeans
/fuelRoute/.sts4-cache

### IntelliJ IDEA ###
/fuelRoute/.idea
/fuelRoute/*.iws
/fuelRoute/*.iml
/fuelRoute/*.ipr

### NetBeans ###
/fuelRoute/nbproject/private/
/fuelRoute/nbbuild/
/fuelRoute/dist/
/fuelRoute/nbdist/
/fuelRoute/.nb-gradle/
/fuelRoute/build/
/fuelRoute/**/src/main/**/build/
/fuelRoute/**/src/test/**/build/

### VS Code ###
/fuelRoute/.vscode/